<!DOCTYPE html>
<html>

<head>
	{{>head}}
</head>

<body>
	<div class="vcenter-wrapper">
		<div class="home vcenter-container">
			<h1>Bytefish</h1>
			<div class="link-form-container">
			  <form class="link-form pure-form" action="links" method="post">
			    <input class="link-input" type="text" name="original_url" placeholder="Enter a link to shorten" />
			    <input class="pure-button bf-button pure-button-primary" type="submit" value="Shorten" />
			  </form>
			</div>
		</div>
	</div>
	<div class="credits">
		<p>Created by <a href="http://rosslebeau.com">Ross LeBeau</a> using <a href="https://github.com/qutheory/vapor">Vapor</a>, <a href="https://github.com/PlanTeam/MongoKitten">MongoKitten</a>, and Swift 3.</p>
</body>
</html>
