<!DOCTYPE html>
<html>

<head>
	{{>head}}

	<meta property="og:locale" content="en_US" />
	<meta property="og:title" content="byte.fish" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="byte.fish" />
	<meta property="og:description" content="A simple URL shortener made with Swift using Vapor." />
	<meta property="og:url" content="http://bytefish.herokuapp.com" />
	<meta property="og:image" content="http://rosslebeau.com/wp-content/uploads/2016/05/bytefish_435_375.png" />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:description" content="A simple URL shortener made with Swift using Vapor." />
	<meta name="twitter:title" content="byte.fish" />
	<meta name="twitter:site" content="@rosslebeau" />
	<meta name="twitter:image" content="http://rosslebeau.com/wp-content/uploads/2016/05/bytefish_435_375.png" />
	<meta name="twitter:creator" content="@rosslebeau" />
	<meta name="twitter:creator:id" content="161540873" />
</head>

<body>
	<div class="vcenter-wrapper">
		<div class="home vcenter-container">
			<h1>Bytefish</h1>
			<div class="link-form-container">
			  <form class="link-form pure-form" action="links" method="post">
			    <input class="link-input" type="text" name="original_url" placeholder="Enter a link to shorten" />
			    <input class="pure-button bf-button pure-button-primary" type="submit" value="Shorten" />
			  </form>
			</div>
		</div>
	</div>
	<div class="credits">
		<p>Created by <a href="http://rosslebeau.com">Ross LeBeau</a> using <a href="https://github.com/qutheory/vapor">Vapor</a>, <a href="https://github.com/PlanTeam/MongoKitten">MongoKitten</a>, and Swift 3.</p>
</body>
</html>
