<!DOCTYPE html>
<html>

<head>
  {{>head}}
</head>

<body>
	<div class="vcenter-wrapper">
		<div class="show-link-container vcenter-container">
      <h2>{{originalUrl}}</h2>
      <h1 class="show-short-url">{{shortUrl}}</h1>
    </div>
  </div>
</body>
</html>
