html {
    height: 100%;
}
body {
    min-height: 100%;
}

.wrapper {
	height: 80vh;
  width: 100%;
  display: table;
}

.main {
	display: table-cell;
  vertical-align: middle;
}

.main h1 {
	text-align: center;
	font-family: "Source Sans Pro";
	font-size: 3.5em;
	/*font-weight: 600;*/
}

.main input {
	height: 100%;
}

.link-form-container {
	width: 100%;
	height: 7%;
	position: absolute !important;
}

.link-form {
	width: 40%;
	height: 100%;
	margin-left: auto;
  margin-right: auto;
}

.link-input {
	width: 75%;
	height: 100%;
}

.pure-button {
	border-radius: 5px;
}

.pure-button.bf-button {
	width: 23.5%;
	float: right;
	margin: auto;
}
