html {
    height: 100%;
}

body {
    min-height: 100%;
}

p {
	font-family: "Source Sans Pro"
}

.vcenter-wrapper {
	height: 80vh;
  width: 100%;
  display: table;
}

.vcenter-container {
	display: table-cell;
  vertical-align: middle;
}

.home h1 {
	text-align: center;
	font-family: "Source Sans Pro";
	font-size: 3.5em;
	/*font-weight: 600;*/
}

.home input {
	height: 100%;
}

.link-form-container {
	width: 100%;
	height: 7%;
	position: absolute !important;
}

.link-form {
	width: 40%;
	height: 100%;
	margin-left: auto;
  margin-right: auto;
}

.link-input {
	width: 75%;
	height: 100%;
}

.pure-button {
	border-radius: 5px;
}

.pure-button.bf-button {
	width: 23.5%;
	float: right;
	margin: auto;
}

.credits {
	text-align: center;
}

.show-link-container {
	width:100vw;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.show-short-url {
	font-family: "Source Code Pro";
	font-weight: 600;
	font-size: 4vw;
	padding-left: 21px;
	margin-left: -10.5px;
	border-style: solid;
	border-radius: 4px;
	border-width: thin;
	border-color: #212131;
	resize: none;
}
